POSTGRES_PASSWORD="clinic_pass"
POSTGRES_DB="clinic_db"
POSTGRES_USER="clinic_user"
DATABASE_URL="postgres://clinic_user:clinic_pass@localhost:5432/clinic_db"
ALGORITHM="aes-256-gcm"

ENCRYTPION_SECRET_KEY="Your 32 length encrytion key"


GOOGLE_CLIENT_EMAIL="your google client email"


CLINIC_CALENDAR_ID="google cllient id"

GOOGLE_PRIVATE_KEY="google private key"

OPENAI_API_KEY="open api seret key"

SMTP_FROM=""
SMTP_USER=""
SMTP_PASS=""  
SMTP_PORT="465"
SMTP_HOST=""
